#body {
  font-family: Segoe UI, Tahoma, Sans-Serif;
  text-align: center;
  width: 355px;
  height: 120px;
  margin: 0px;
  padding: 0px;
  background: rgb(16, 16, 16);
}

#alfatimehere {
  color: White;
  text-align: center;
  font-size: 60px;
}

#datehere {
  color: White;
  text-align: center;
}
