#body {
  font-family: Segoe UI, Tahoma, Sans-Serif;
  font-size: 12;
  width: 355px;
  height: 75px;
  margin: 0px;
  padding: 0px;
  background: rgb(16, 16, 16);
}

#divvol {
  overflow: hidden;
  position: absolute;
  width: 300px;
  height: 3px;
  top: 37px;
  left: 50px;
  background: rgb(66, 156, 227);
}

#divvolback {
  position: absolute;
  width: 300px;
  height: 3px;
  top: 37px;
  left: 50px;
  background: gray;
}

.volback {
  position: absolute;
  left: 10;
  width: 300px;
  height: 75px;
}

#txtVolume {
  position: absolute;
  color: White;
  top: 27px;
  left: 7px;
}

#label {
  position: absolute;
  color: White;
  top: 2px;
  left: 7px;
}

#ssid {
  position: absolute;
  color: White;
  top: 2px;
  left: 95px;
}

#ip {
  position: absolute;
  color: White;
  top: 48px;
  left: 7px;
}

#divpeakleft {
  overflow: hidden;
  position: absolute;
  width: 100px;
  height: 2px;
  background: rgb(66, 156, 227);
  top: 59px;
  left: 10px;
}

#divpeakright {
  overflow: hidden;
  position: absolute;
  width: 100px;
  height: 2px;
  background: rgb(66, 156, 227);
  top: 64px;
  left: 10px;
}

#divpeakrightback {
  position: absolute;
  width: 100px;
  height: 2px;
  background: gray;
  top: 64px;
  left: 10px;
}

#divpeakleftback {
  position: absolute;
  width: 100px;
  height: 2px;
  background: gray;
  top: 59px;
  left: 10px;
}
